<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="border row mb-4 project p-1">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/api/comments/{{ post.id }}">{{post.name}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
  <div>
    {{#if post.comments.length }}
                <a class="comment-href" href="/api/comments/made/{{ post.id }}">
                    {{format_commentCount post.comments.length }}
                </a>
            {{else}}
                {{format_commentCount post.comments.length }}
            {{/if}}
  </div>
</div>
{{/each}}
